version: 2

defaults: &defaults
    working_directory: ~/npm-go-textile-dep
    docker:
        - image: node:10.13.0

jobs:
    lint-test:
        <<: *defaults
        steps:
            - checkout
            - restore_cache:
                key: npm-v1-{{ checksum "package-lock.json" }}-{{ arch }}
            - restore_cache:
                key: node-v1-{{ checksum "package.json" }}-{{ arch }}
            - run: npm install
            - run:
                name: lint
                command: |
                    npm run lint
            - save_cache:
                key: npm-v1-{{ checksum "package-lock.json" }}-{{ arch }}
                paths:
                    - ~/.cache/yarn
            - save_cache:
                key: node-v1-{{ checksum "package.json" }}-{{ arch }}
                paths:
                    - node_modules
            - run:
                name: test
                command: |
                    mkdir -p test-results/jest
                    npm run test
                environment:
                    JEST_JUNIT_OUTPUT: test-results/jest/junit.xml
            - store_test_results:
                path: test-results
            - store_artifacts:
                path: test-results
    deploy:
        <<: *defaults
        steps:
            - checkout
            - restore_cache:
                key: npm-v1-{{ checksum "package-lock.json" }}-{{ arch }}
            - restore_cache:
                key: node-v1-{{ checksum "package.json" }}-{{ arch }}
            - run: npm install
            - attach_workspace:
                at: ~/npm-go-textile-dep
            - run:
                name: Authenticate with registry
                command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/npm-go-textile-dep/.npmrc
            - run:
                name: Publish package
                command: npm publish --access=public --unsafe-perm

workflows:
    version: 2
    go-textile:
        jobs:
            - lint-test:
                filters:
                    tags:
                        only: /^v.*/
            - deploy:
                requires:
                    - lint-test
                filters:
                    tags:
                        only: /^v.*/
                    branches:
                        ignore: /.*/
